# Dependencies
node_modules
/.pnp
.pnp.js

# Environment variables — NUNCA commitar
.env
.env.*
!.env.example

# Next.js build
/.next/
/out/
/build

# Prisma
prisma/migrations/dev.db

# OS
.DS_Store
Thumbs.db

# Logs
*.log
*-debug.log
npm-debug.log*

# Editor
.idea
.vscode
*.swp
*.swo

# Misc
/.svelte-kit
/package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*